.btn {
  background: #3763f4;
  color: #fff;
}

@media (max-width: 420px) {
  .flex-column-reverse-mobile {
    display: flex;
    /*flex-direction: column-reverse;*/
  }
}

@media (max-width: 768px) {
  #text {
    max-width: 350px;
  }
}

.typewriter {
  font-size: 3rem;
}

